.main_login{
    display: flex;
    height: 100vh;
    background-color: #B51D44;
}

.logo_banner{

    flex: 1;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_banner img{
    width: 470px;
}


 .section_login{
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 .form_login{
    color: white;

    width: 50%;
    height: 50%;

    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.campos_login{
    width: 100%;
}


.campo_input{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.campo_input input{
    height: 30px;


    padding: 0 10px;

    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #B4A9A9;

    outline: none;
    color: #B4A9A9;
}

.form_login a{
    margin-bottom: 40px;
    color: #A6A0A0;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .logo_banner{
        display: none;
    }
}