header{
    background-color: white;

    height: 75px;

    box-shadow: 1px 4px 4px 0px #0000008f;
    position: relative;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.cabecalho img{
    height: 25px;
}

.link_header{
    margin-left: 50px;

    color: black;

    text-decoration: none;
}

.Adm{
    margin-right: 9px;
}

.Adm img{
    width: 15px;
    height: 13px;
    margin-left: 10px;
}

/* @media screen and (max-width: 768px) {
    .header-header img{
        height: 15px;
    }
    .header-header{
        justify-content: center;
        align-items: center;
    }
    .link-header{
        display: none;
    }
    .navas_header{
        display: none;
    }
} */